
@{
    ViewBag.Title = "Index";
}





<table class="table table-striped table-bordered table-hover table-condensed cols-3 custom_table">
    <thead>
        <tr>
            <th scope="col">Proje</th>
            <th scope="col">Etkileşimler</th>
            <th scope="col">Yayınlanma Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="#">OpenCV Kullanarak Görüntü İşleme Projesi</a>
                <small><a href="#">Caner Ö.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">50 dk önce</span></div></td>
        </tr>
        <tr>
            <td>
                <a href="#">Üniversitemiz Adına Otonom Araç Projesi</a>
                <small><a href="#">Buse D.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">8 sa önce</span></div></td>
        </tr>
        <tr>
            <td>
                <a href="#">Akıllı Drone Projesi</a>
                <small><a href="#">Halil T.K.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">1 gün önce</span></div></td>
        </tr>
        <tr>
            <td>
                <a href="#">Sosyal Etkinliklerin Bildirileceği Mobil Uygulama Projesi</a>
                <small><a href="#">Emre A.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">5 gün önce</span></div></td>
        </tr>
        <tr>
            <td>
                <a href="#">VR Oyun Projesi</a>
                <small><a href="#">Ali Ö.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">1 hafta önce</span></div></td>
        </tr>
        <tr>
            <td>
                <a href="#">İnternetteki Bilgileri Belirli Bir Düzene Göre Veritabanına Çeken Uygulama</a>
                <small><a href="#">Zeynep K.</a></small>
            </td>
            <td>
                <ul class="activity_outer">
                    <li><strong>03</strong><span>Başvuranlar</span></li>
                    <li><strong>01</strong><span>Görüntülenme</span></li>
                </ul>
            </td>
            <td><div class="last_activity"><span class="time_ago">1 ay önce</span></div></td>
        </tr>
    </tbody>
</table>