@model IEnumerable<DonemProjesi.Models.Proje>

@{
    ViewBag.Title = "Index";
}



<table class="table table-striped table-bordered table-hover table-condensed cols-3 custom_table">
    <thead>
        <tr>
            <th scope="col">Proje</th>
            <th scope="col">Etkileşimler</th>
            <th scope="col">Yayınlanma Tarihi</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.ProjeAdi)</div>
                    <small><a href="">@Html.DisplayFor(modelItem => item.Ogrenci.Ad)</a></small>
                </td>
                <td>
                    <ul class="activity_outer">
                        <li><strong>03</strong><span>Başvuranlar</span></li>
                        <li><strong>01</strong><span>Dahil olanlar</span></li>
                    </ul>
                </td>
                <td>
                    <div class="last_activity"><span class="time_ago">@Html.DisplayFor(modelItem => item.EklenmeTarihi)</span></div>
                </td>
                <td>
                    @Html.ActionLink("Proje Detayı", "Details", "Proje", new { id = item.ProjeID }, new { @class = "detay" })
                </td>
            </tr>
        }

    </tbody>
</table>