@model IEnumerable<DonemProjesi.Models.Ogrenci>


@{
    ViewBag.Title = "Index";
}


<header>
    <div class="container">
        <h1>Projen için Takım Arkadaşı Ara!</h1>
        <p class="header-text">
            Üniversite dönemi boyunca kendisini geliştirmek amacı ile
            aklında bir proje fikri olup, proje için bütün yeterlilikleri tek başına karşılayamayacak
            öğrenciler sisteme üye olur. Daha sonra uygulama üzerinden yapmak istediği
            projeyi ve desteğe ihtiyacı olduğu alanları yayınlar. İhtiyaç duyulan pozisyonda
            bilgi sahibi olan ve kendini bu projede geliştirmek isteyen diğer öğrenciler başvuruda
            bulunur ve proje sahibiyle iletişime geçer. Bu sayede öğrenciler hem
            kendini geliştirmiş hem de ekip çalışması yapmış olacaklardır.
        </p>
        <img class="image" src="/ui/img/Networking.jpg" alt="">
    </div>
</header>